<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GettingThingsDone.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="GettingThingsDone.Properties.Settings.gtdLocalConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=localgtd;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GettingThingsDone.Properties.Settings.gtdConnectionString"
            connectionString="Data Source=|distantServer|\SQLEXPRESS;Initial Catalog=gtd;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <GettingThingsDone.Properties.Settings>
            <setting name="distantServeur" serializeAs="String">
                <value>ADMIN-PC</value>
            </setting>
        </GettingThingsDone.Properties.Settings>
    </applicationSettings>
</configuration>